*{
    margin:10px;   
    padding:0px;	
}


.seccionprincipal {
    position: relative;
	margin: 100px;
	width: 1120px;   
	height: 400px; 
	background-color:white;
} 
.imgproducto {
    float: right;
	width: 40%;   	   
}
.texto{
	float: left;
	width: 25%;  
	margin: 12%;  
	font-family: Arial, Helvetica, sans-serif;  
}

button{ 
	border: 3px  rgb(29, 157, 207);
	border-radius: 50px;
	padding: 3px;
	background-color: rgb(29, 157, 207);
	font-family: Arial, Helvetica, sans-serif;
	color: white; 
	height: 20%; 
	margin-left: 10px;  
} 





.seccionvalores{
	background-image: url('../Imagenes/values-bg.jpg');
	background-size: cover;
    color: #fff;
    padding-bottom: 5rem; 
	display: flex;
}
.value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
		
}

.value-heading { 
    margin-bottom: .3rem;
}
.value-description {
    opacity: .8;
    font-weight: 300;
} 



.seccionhelp{ 
    position: relative;
	margin: 100px;
	width: 1120px;   
	height: 400px; 
	background-color:white;  
} 

.seccionget-help {
    border-bottom: 1px solid #ddd;
}  

.hero-heading {
	font-size: 3.0rem;
  }

.container {
	justify-content: center;
	width: 90%;  
	margin-left: 7%;
	font-family: Arial, Helvetica, sans-serif;  
	
}

.section-description {
	max-width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.section-heading{
	max-width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.button-primary{
    border: 3px  rgb(29, 157, 207);
	border-radius: 50px;
	padding: 3px;
	background-color: rgb(29, 157, 207);
	font-family: Arial, Helvetica, sans-serif;
	color: white; 
    float: all;
    float: right;
    margin-right: 46%; 
    
}

.seccioncateg{
	background-image: url('../Imagenes/values-bg.jpg');
	background-size:cover; 
    color: #fff;
    padding-bottom: 7rem; 

}

.categories .section-description { 
    margin-bottom: 4rem;
}
  
.container-img{ 
	display: flex;
	justify-content: center;
}

.img-full-width{
	width: 35%; 
	margin: 10%;
}


.sectioncateg-description{
	max-width: 25%;
	margin-left: auto;
	margin-right: auto; 
	
}
