.menu{
    text-align: right;
    margin: 2%;
}
a{
    text-decoration: none;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;     
} 
.imgmontaña{ 
    height: 20%;
    width: 4%;
    float: left;
    margin-inline-start: 4%;
} 
.btnmenu{  
    background-color: black;
    color: white; 
    width: 8%;
    height: 28px; 
}
.lineamenu{
    width: 103%;
    position: relative;
    margin-inline-start: -2%;
}
.nuevoproducto{
    width: 102.3%;
    height: 170px;
    position: relative;
    left: -1%;
    bottom: 22px;
    background-color: whitesmoke;
}
.lineaproducto{
    width: 28%;
    position: relative;
    top: 80px;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 80px;
}
.informacionproducto{
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -5%;
    color: gray;
}
.nombre{
    height: 30px;  
    margin: 2%;
    margin-right: 36%; 
    border: 1px solid;
}
.descripcion{
    width: 43%;
    height: 100px;
    margin: 2px;
    margin-right: 4%; 
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif; 
    resize: none
}
.direccion{
    width: 43%;
    height: 30px;
    margin: 30px;
    margin-right: 6%; 
    border: 1px solid; 
}
.busco{
    width: 43%;
    height: 100px;
    margin: 10px;
    margin-right: 5%; 
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif; 
    resize: none
}
.lineaprod{
    width: 47%;   
}
.botonesproducto{
    text-align: center;
    margin: 5%;
    margin-left: 1%;
}
.guardar{
    width: 14%;
    height: 38px;
    margin: 1%;
    background-color: black;
    color: white;
}
.cancelar{
    width: 14%;
    height: 38px;
}
.opciones{ 
    text-align: center;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif; 
} 
.lineapiepag{
    width: 1370px;
    margin-inline-start: -2%; 
}
.pagina{
    text-align: center;
    margin-left: 4%;
}
.imgpagina{ 
    width: 1.3%; 
    float: left;
    margin-left: 40%;
}
h3{
    margin-right: 47%;
    font-size: 98%;
}  


