.encabezado{
    height: 109px;
    width: 102%;
    margin: -1%;
    background-color: whitesmoke; 
}
.menu{
    text-align: right;
    position: relative;
    top: 40px;
    margin-right: 2%;
} 
a{
    text-decoration: none;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;     
} 
.img1{
    height: 20%;
    width: 6%;
    float: left;
    margin-inline-start: 10%;
}
.btnmenu{  
    background-color: black;
    color: white; 
    width: 8%; 
    height: 28px; 
}
.buscador{
    width: 102%;
    height: 300px;
    margin-top: -2%;
    margin-inline-start: -1%;
    text-align: center;
    background-color: whitesmoke;
} 
h1{
    font-size: 40px;
}
.titulobuscador{
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 80px;
}
.linea1{
    width: 15%;
    position: relative;
    top: 80px;
}
.busqueda{
    height: 47px;
    width: 430px;
    position: relative;
    top: 100px;
}
.buscar{
    height: 47px;
    width: 120px;
    position: relative;
    top: 100px;
    margin-left: 0%;
    background-color: black;
    color: white; 
}
.lineabusq{
    position: relative;
    top: 165px;
}
.categorias{
    text-align: center;
}
.titulo{
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
}
.texto{
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.img2{
    width: 20%; 
    border: black 2px solid ;   
    height: 10%; 
    margin: 2%;
}
.img3{
    width: 20%; 
    border: black 2px solid ;   
    height: 10%; 
    margin: 2%; 
}
.img4{
    width: 20%; 
    border: black 2px solid ;   
    height: 10%; 
    margin: 2%;
}
.textocateg{
    text-align: center;
    display: flex;
}
.lineacateg{
    width: 1370px;
    margin-inline-start: -2%;
}
.electronicos{
    margin-left: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
.hogar{
   margin-left: 18%;
   font-family: Arial, Helvetica, sans-serif;
}
.negocio{
    margin-left: 21%;
    font-family: Arial, Helvetica, sans-serif;
}
.slider{
    text-align: center;
    width: 100%;
    height: 100px;
    text-align: center;
}
.flecha-right{
    width:0px;
    height:0px;
    border-bottom:10px solid transparent; 
    border-top:10px solid transparent; 
    border-left:10px solid #121214; 
    font-size:0px;
    line-height:0px;
    float: right;
    margin: 11%;
    margin-right: 2%; 
} 
.flecha-left{
    width:0px;
    height:0px;
    border-bottom:10px solid transparent; 
    border-top:10px solid transparent; 
    border-right:10px solid #121214; 
    font-size:0px;
    line-height:0px;
    float: left;
    margin: 11%;
    margin-left: 2%;
} 
.img5{
    width: 35%; 
    border: black 2px solid ;   
    height: 50%;  
    margin-right: 1%;
}
.producto{
    text-align: center;
    display: flex;
    width: 60%;
    position: relative;
    top: 30px;
    margin-inline-start: 25%;
}
.nomprod{
    font-family: Arial, Helvetica, sans-serif; 
    position: relative;
    margin-inline-start: -2%;
}
.opciones{
    text-align: center;
    position: relative;
    top: 10px;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif;  
} 
.lineapiepag{
    width: 1370px;
    margin-inline-start: -2%;  
}
.pagina{
    text-align: center;
    margin-left: 4%;
}
.imgpagina{
    width: 1.3%; 
    float: left;
    margin-left: 40%;
    position: relative;
    top: 10px;
}
h3{
    margin-right: 46%;
    font-size: 98%;
    position: relative;
    top: 10px;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif; 
}
