.encabezado{
    height: 107px;
    width: 102.2%;
    margin: -1%;
    background-color: whitesmoke; 
}
.menu-opciones{
    text-align: right;
    position: relative;
    top: 40px;
    margin-right: 2%;
} 
a{
    text-decoration: none;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;     
} 
.imgmontaña{ 
    height: 20%;
    width: 4%;
    float: left;
    margin-inline-start: 4%;
} 
.btnmenu{  
    background-color: black;
    color: white; 
    width: 7%; 
    height: 28px;
}
.lineamenu{
    margin-top: 80px;
}
.infocambalaches{
    text-align: center;
    margin: 6%;
    font-family: Arial, Helvetica, sans-serif;
}
.linea{
    width: 104%;
    margin: -3%;
    text-align: center;
}
.titulo{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10%;
}
.subtitulo{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 8%;
    margin-inline-start: 9%;
}
.cambalaches{
    width: 100%;
    height: 400px;
    margin-top: 5%;
}
.pie_pagina{
    text-align: center;
    margin-top: 5%;
}
.opciones{
    text-align: center;
    margin-top: 5%;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif; 
}
.pagina{
    text-align: center;
    margin-left: 4%;
}
.imgpagina{
    width: 1.3%; 
    float: left;
    margin-left: 40%;
}
h3{
    margin-right: 45%;
    font-size: 98%;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif; 
}
.table{
    margin: 0 auto;
}

