.menu{
    text-align: right;
    margin: 2%;
}
a{
    text-decoration: none;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;     
} 
.imgmontaña{ 
    height: 20%;
    width: 4%;
    float: left;
    margin-inline-start: 4%;
}
.btnmenu{  
    background-color: black;
    color: white; 
    width: 8%;
    height: 28px;
}
.lineamenu{
    width: 102.8%;
    position: relative;
    top: 10px;
    margin-inline-start: -2%;
}
.ingresoUsuario{ 
    text-align: center;
    width: 102%;
    height: 190px;
    margin: -1%;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: whitesmoke;
}
h2{
    position: relative;
    top: 50%;
}
.lineausu{
    width: 25%; 
    position: relative;
    top: 60%;
}
.registro{
    text-align: center;
    margin: 7%;
}
.correo{
    width: 23%;
    height:35px;
} 
.contraseña{
    width: 23%;
    height: 35px;
    margin: 3%;
}
.linearegistro{
    width: 50%;
} 
.textoregistro{ 
    font-family: Arial, Helvetica, sans-serif;
    margin-left:5%;
    font-size: 80%;
}
.registrese{
    color: #005282;
    text-decoration: underline;
    margin-left: 0%;
}
.btnregistro{
    margin: 5%;
}
.btnreg1{
    width: 20%;
    height: 40px;
    background-color: black;
    color: white;
}
.btnreg2{ 
    width: 20%;
    height: 40px;
}
.lineareg{
    width: 118%;
    position: relative;
    top: 0px;
    margin-inline-start: -9%;
}
.opciones{ 
    text-align: center;
    margin-top: -6%;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif; 
} 
.pagina{
    text-align: center;
    margin-left: 4%;
}
.imgpagina{ 
    width: 1.3%; 
    float: left;
    margin-left: 40%;
}
h3{
    margin-right: 47%;
    font-size: 98%;
    font-family: Arial, Helvetica, sans-serif;
}