.menu{
    text-align: right;
    margin: 2%;
}
a{
    text-decoration: none;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;     
}
.imgmontaña{ 
    height: 20%;
    width: 4%;
    float: left;
    margin-inline-start: 4%;
} 
.btnmenu{  
    background-color: black;
    color: white; 
    width: 8%;
    height: 28px; 
} 
.registroUsuario{  
    text-align: center;
    margin: 6%;
}
.cajaregusu{
    width: 118%;
    height: 170px;
    position: relative;
    bottom: 40px;
    left: -10%;
    background-color: whitesmoke;
}
h2{
    position: relative;
    top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.lineausu{
    width: 25%; 
    position: relative;
    top: 70px;
}
.datospersonales{
    text-align: center;
    margin: 5%;
    position: relative;
    bottom: 20px;
}
.pnombre{
    width: 20%;
    height: 20px; 
    margin: 2%; 
}
.apellidos{
    width: 20%;
    height: 20px; 
}
.address1{
    width: 43.3%;
    height: 20px; 
    margin-left: 2%; 
}
.address2{ 
    width: 43.3%;
    height: 20px; 
    margin: 2%;
    margin-left: 4%; 
} 
.paises{ 
    width: 20%;
    height: 28px;  
    color: gray;
    float: left; 
    margin-left: 29%;
}
.ciudad{
    width: 20%;
    height: 22px; 
    float: right;
    margin-right: 27%;  
} 
.correo{
    width: 20%;
    height: 20px;
    margin: 2%; 
}
.contraseña{
    width: 20%;
    height: 20px; 
}
.lineadatos{
    width: 44%;
    float: right; 
   margin-right: 27%;
}
.textodatos{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    float: left;
    margin-left: 29.1%;
}
.registrese{
    color: #005282;
    text-decoration: underline;
    margin: 0%;
}
.btnregistro{
    margin: 7%;
    text-align: center;
}
.btnreg1{
    width: 20%;
    height: 40px;
    background-color: black;
    color: white;
    margin: 1%;
}
.btnreg2{
    width: 20%;
    height: 40px;
}
.lineapiepag{
    width: 1371px;
    margin-inline-start: -2%; 
}
.opciones{ 
    text-align: center;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif; 
} 
.pagina{
    text-align: center;
    margin-left: 4%;
}
.imgpagina{ 
    width: 1.3%; 
    float: left;
    margin-left: 40%;
}
h3{
    margin-right: 47%;
    font-size: 98%;
}  
