.encabezado{
    height: 108px;
    width: 102%;
    margin: -1%;
    background-color: whitesmoke; 
}
.menu{
    text-align: right;
    position: relative;
    top: 40px;
    margin-right: 2%;
}
a{
    text-decoration: none;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;     
} 
.imgmontaña{ 
    height: 20%;
    width: 4%;
    float: left;
    margin-inline-start: 4%;
} 
.btnmenu{  
    background-color: black;
    color: white; 
    width: 8%;
    height: 28px;  
} 
.lineamenu{
    width: 102%;
    position: relative;
    top: 70px;
    margin-inline-start: -2%;
}
.bienvenido{
    text-align: center;
    margin: 5%; 
    font-family: Arial, Helvetica, sans-serif; 
}
.btnNuevo{
    width: 10%;
    height: 49px;
    margin-left: 7%; 
    position: relative;
    top: 10px;
    background-color: black;
    color: white;
}
.lineanuevo{
    width: 103%;
    position: relative;
    top: 10px;
    margin-inline-start: -2%;
}
.infopagina{
    text-align: center;
}
.opciones{
    text-align: center;
    position: relative;
    top: 10px;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif; 
}
.lineapagina{
    width: 103%;
    position: relative;
    top: 10px;
    margin-inline-start: -2%;
}
.pagina{
    text-align: center;
    margin-left: 4%;
    position: relative;
    top: 7px;
}
.imgpagina{
    width: 1.3%; 
    float: left;
    margin-left: 40%;
}
h3{
    margin-right: 47%;
    font-size: 98%;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif; 
}
#name{
    border: 0;
    width: 5%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none; 
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}
.boton-editar{
    width: 70px;
    height: 30px;
    color:white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    cursor: pointer;
    margin:10px;
}
.boton-eliminar{
    width: 70px;
    height: 30px;
    color:white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color:red;
    cursor: pointer;
    margin:10px;
}
.link{
    color: #005282;
    text-decoration: underline;
    margin: 0%;
}
.table{
    margin: 0 auto;
}