.encabezado{
    height: 107px;
    width: 102%;
    margin: -1%;
    background-color: white; 
}
.menu-opciones{
    text-align: right;
    position: relative;
    top: 40px;
    margin-right: 4%;
} 
a{
    text-decoration: none;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;     
} 
.imgmontaña{ 
    height: 20%;
    width: 4%;
    float: left;
    margin-inline-start: 4%;
} 
.btnmenu{  
    background-color: black;
    color: white; 
    width: 8%; 
    height: 28px;
}
.lineamenu{
    margin-top: 80px;
}
.cuerpo{
    display: flex;
}
.titulo{
    width: 50%;
    text-align: left;
    margin-inline-start: 1%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    border: 0;
    outline: none; 
}
.imagen{
    background-color: white;
    width: 5%;
    height: 10px;
    margin-left: 2%;
    margin-top: 1.2%;
}
.producto{
    background-color: white;
    width: 55%;
    margin-top: 1.3%;
    margin-left: 45%;
}
h1{
    margin-top: 10%;
    margin-inline-start: 9%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}
.usuario{
    border: 0;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none; 
    font-weight: bold;
    font-size: 100%;
    text-align: center; 
    color: #005282;
    text-decoration: underline;
    text-align: left;
}
.strongdescri{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-inline-start: 2%;
}
.lineadescri{
    width: 75%;
    margin-inline-start: 2%;
}
.descri{
    margin-top: 7%;
    margin-inline-start: -1%;
}
.descripcion{
    width: 60%;
    height: 10px;
    text-align: left;
    margin-inline-start: 2%;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    outline: none; 
    font-size: 100%;
}
.busco{
    margin-top: 7%;
    margin-inline-start: -1%;
}
.nomUsu{
    margin-inline-start: 1%;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 100%; 
}
.texto{
    width: 50%;
    text-align: left;
    margin-inline-start: 2%;
    font-family: Arial, Helvetica, sans-serif; 
    border: 0;
    outline: none; 
    font-size: 100%;
}
.agregar{
    margin-inline-start: 9%;
}
.lineaagregar{
    width: 18%;
    margin-inline-start: -8%;
    margin-top: 10%;
}
.btnagregar{
    width: 25%;
    height: 40px;
    margin-top: 10%;
    background-color: black;
    color: white;
    position: relative;
    bottom: 30px;
    margin-inline-start: -8%;
}
.img{
    margin-top: 4%;
}
.pie_pagina{
    text-align: center;
}
.lineapiepag{
    width: 1370px;
    margin-inline-start: -2%; 
    position: relative;
    bottom: 10px;
}
.opciones{
    text-align: center;
    margin-top: 1%;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif; 
}
.pagina{
    text-align: center;
    margin-left: 4%;
}
.imgpagina{
    width: 1.3%; 
    float: left;
    margin-left: 40%;
}
h3{
    margin-right: 46%;
    font-size: 98%;
    color: rgb(22, 20, 20);
    font-family: Arial, Helvetica, sans-serif; 
}


