
*{
    margin:10px;   
    padding:0px;	
}

.class{
    color: blueviolet; 
}

input {
    border: red 1px solid;
}

input.combined { 
    border:cyan 1px solid;  
}
 
[class$="attribute"] {  
    background: yellow;
}

h1, h2, h3 {
	color:darkolivegreen; 
}

ul.child > li > a{
	color:deeppink; 
}

a:link,
a:visited {
    color: rebeccapurple;
    font-weight: bold;
}

a:hover {
    color:hotpink;
}

p em:first-child {
    color: red;
} 

.box::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    border: 1px solid black; 
} 

.ribbon {
    background-color: #5BC8F7;
} 
   
.ribbon::after {
    content: "This is a fancy orange box.";
    background-color: #FFBA10;
    border-color: black;
    border-style: dotted;
}

.uno {
    color: white;
    background-color: brown;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
}
  
.dos {
    color: white;
    background-color: black;
    margin: 10px;
    width: 150px;
    height: 70px;
    display: inline-block;
}
.tres {
    color: white;
    background-color: brown;
    margin: 10px;
    width: 75px;
}
.cuatro {
    color: white;
    background-color: brown;
    margin: 10px;
    width: 100px;
}
  
.cinco {
    background-color: brown;
}


.dos {
    --test: 10px;
}
  
.tres {
    --test: 2em;
}