.header{
    width: 68%;
    height: 75px;
    text-align: center;
    margin-inline: 15%;
    position: relative;
    top: 40px;
    background-color: yellow;
    border: yellow 5px solid;
    border-radius: 20px;
}
h1{
    position: relative;
    bottom: 20px;
}
.subtitulo{
    position: relative;
    bottom: 30px;
    font-weight:  bolder;
    font-size: 21px;
}
.contenedor{
    display: flex;
}
.opciones{
    width: 18%;
    height: 70px;
    margin-inline: 15%;
    position: relative;
    top: 80px;
    background-color:darkorange;
    border: darkorange 5px solid;
    border-radius: 20px;
}
a{
    color: purple;
    text-decoration: underline;
}
.examples{
    width: 25%;
    height: 160px;
    margin-inline: -14%;
    position: relative;
    top: 80px;
    background-color:blue;
    border: blue 5px solid;
    border-radius: 20px;
    color: white;
}
.tutorial{
    width: 22%;
    height: 100px;
    margin-inline: 16%;
    position: relative;
    top: 80px;
    background-color:blue;
    border: blue 5px solid;
    border-radius: 20px;
    color: white;
}
.tools{
    width: 22%;
    height: 120px;
    margin-inline: 62%;
    position: relative;
    top: 40px;
    background-color:blue;
    border: blue 5px solid;
    border-radius: 20px;
    color: white;
}
.footer{
    width: 69%;
    height: 40px;
    margin-inline: 15%;
    position: relative;
    top: 50px;
    background-color:pink;
    border: pink 5px solid;
    border-radius: 20px;
    color: white;
}
.texto{
    position: relative;
    bottom: 35%;
    color: black;
}
@media screen and (max-width: 600px){
   .header{
       margin-inline-start: 0%;
       text-align: left;
       width: 98%;
       height: 100px;
       top: 10px;
    }
    .opciones{
        width: 95%;
        height: 20px;
        margin-inline-start: 0%;
        position: fixed;
        top: 140px;
    }
    .examples{
        width: 95%;
        height: 120px;
        margin-inline-start: 0%;
        position: fixed;
        top: 190px;
    }
    .tutorial{
        width: 95%;
        height: 95px;
        margin-inline-start: 0%;
        position: fixed;
        top: 330px;
    }
    .tools{
        width: 95%;
        height: 120px;
        margin-inline-start: 0%;
        position: fixed;
        top: 445px;
    }
    .footer{
        width: 95%;
        height: 40px;
        margin-inline-start: 0%;
        position: fixed;
        top: 580px;
    }
}

